language: python

python:
  - "2.7"
  - "3.3"
  - "3.4"
  - "3.5"
  - "nightly" # currently points to 3.6-dev

# command to install dependencies
install:
    - pip install coveralls
    - pip install -q pytest==2.9.0
    - pip install -q .
# command to run tests
script: "python setup.py test_ci"

after_success:
  coveralls
